

.edit {
    display: flex;
    width: 100%;
    background-color: rgba(6, 19, 117, 0.13);
   
    

    .editContainer {
        flex: 6;
        width: auto;


        

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;
           
            
          

            .left {
                flex: 2;
                box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                padding: 30px;
                position: relative;
                align-items: center;
                background-color: white;
                
                .title {
                    width: 100%;
                    font-size: 24px;
                    color: gray;
                    margin-bottom: 10px;
                }

                .item {
                    
                    align-items: center;
                    display: flex;
                    gap: 20px;

                   
            
                    
                    .image{
                        width: 200px;
                        height: 200px;
                        margin-left: 100px;
                        object-fit: cover;

                    }

                    .details {
                        
                        .editButton {
                            display: flex;
                           margin-left: 500px;
                           margin-top: -40px;
                            padding: 5px;
                            font-size: 14px;
                            color: rgb(253, 253, 253);
                            background-color: rgb(6, 19, 117);
                            cursor: pointer;
                            border-radius: 5px 5px 5px 5px;
                        }
                        
                      
                        .itemTitle {
                            margin-bottom: 10px;
                            color: rgb(6, 19, 117);
                            margin-left: 100px;
                        }

                        .detailItem {
                            margin-bottom: 10px;
                            margin-left: 100px;
                            font-size: 14px;

                            .notice{
                                color:rgb(187, 4, 4);
                                margin-top: 20px;
                            }
                            .itemKey {
                                font-weight: bold;
                                color: rgb(6, 19, 117);
                                margin-right: 5px;
                            }

                            .itemValue {
                                font-weight: 300;
                            }

                          
                           


                        }

                        .right {
                            flex: 2;
                            width: 100%;
                           
            
                         
                            
            
                        }
            

                       
                    }
                    
                


                }


            }
            
        }

      



        .bottom {
            box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            padding: 20px;
            margin: 10px 20px;
            background-color: white;


            .editItem {
                align-items: center;
                display: flex;
                gap: 20px;

               
        
                
                .editImage{
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-bottom: 20px;
                    margin-left: 200px;
                }

                .newsImage{
                    width: 100px;
                    height: 100px;
                    margin-left: 0px;
                    object-fit: cover;
                    margin-bottom: 20px;
                   
                }

                


            }

           
            .title {
                width: 100%;
                font-size: 24px;
                color: gray;
                margin-bottom: 10px;
                margin-left: 430px;
            }


            .subTitle {
                width: 100%;
                font-size: 24px;
                color: gray;
                margin-bottom: 10px;
                margin-top: 20px;
               
            }
            textarea{
                width:300px;
                font-size: 15px;
                font-weight: bold;
            }

            label{
                display: flex;
                font-weight: bold;
                color: rgb(99, 97, 97);
                margin-left: 200px;
              
            }

            input, select{
                
                font-size: 15px;
                margin-bottom: 10px;
                font-weight: bold;
                margin-left: 200px;
            }
            

            .newsImput{
                font-size: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                margin-left: 0px;
            }

           
            .error {
                color: red;
                font-size: 14px;
                margin-top: 5px;
            }
            
           
    
            .submitButton {
               margin-top: 20px;
               margin-left: 500px;
                width: 50px;
                padding: 5px;
                font-size: 14px;
                color: #fdfdfd;
                background-color: rgb(6, 19, 117);
                cursor: pointer;
                border-radius: 5px 5px 5px 5px;
            }
    
            .status{
                padding: 5px;
                border-radius: 5px;
        

.edit {
    display: flex;
    width: 100%;
    background-color: rgba(6, 19, 117, 0.13);
   
    

    .editContainer {
        flex: 6;
        width: auto;


        

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;
           
            
          

            .left {
                flex: 2;
                box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                padding: 30px;
                position: relative;
                align-items: center;
                background-color: white;
                
                .title {
                    width: 100%;
                    font-size: 24px;
                    color: gray;
                    margin-bottom: 10px;
                }

                .item {
                    
                    align-items: center;
                    display: flex;
                    gap: 20px;

                   
            
                    
                    .image{
                        width: 200px;
                        height: 200px;
                        margin-left: 100px;
                        object-fit: cover;

                    }

                    .details {
                        
                        .editButton {
                            display: flex;
                           margin-left: 500px;
                           margin-top: -40px;
                            padding: 5px;
                            font-size: 14px;
                            color: rgb(253, 253, 253);
                            background-color: rgb(6, 19, 117);
                            cursor: pointer;
                            border-radius: 5px 5px 5px 5px;
                        }
                        
                      
                        .itemTitle {
                            margin-bottom: 10px;
                            color: rgb(6, 19, 117);
                            margin-left: 100px;
                        }

                        .detailItem {
                            margin-bottom: 10px;
                            margin-left: 100px;
                            font-size: 14px;

                            .notice{
                                color:rgb(187, 4, 4);
                                margin-top: 20px;
                            }
                            .itemKey {
                                font-weight: bold;
                                color: rgb(6, 19, 117);
                                margin-right: 5px;
                            }

                            .itemValue {
                                font-weight: 300;
                            }

                          
                           


                        }

                        .right {
                            flex: 2;
                            width: 100%;
                           
            
                         
                            
            
                        }
            

                       
                    }
                    
                


                }


            }
            
        }

      



        .bottom {
            box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            padding: 20px;
            margin: 10px 20px;
            background-color: white;


            .editItem {
                align-items: center;
                display: flex;
                gap: 20px;

               
        
                
                .editImage{
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-bottom: 20px;
                    margin-left: 200px;
                }

                .newsImage{
                    width: 100px;
                    height: 100px;
                    margin-left: 0px;
                    object-fit: cover;
                    margin-bottom: 20px;
                   
                }

                


            }

           
            .title {
                width: 100%;
                font-size: 24px;
                color: gray;
                margin-bottom: 10px;
                margin-left: 430px;
            }


            .subTitle {
                width: 100%;
                font-size: 24px;
                color: gray;
                margin-bottom: 10px;
                margin-top: 20px;
               
            }
            textarea{
                width:300px;
                font-size: 15px;
                font-weight: bold;
            }

            label{
                display: flex;
                font-weight: bold;
                color: rgb(99, 97, 97);
                margin-left: 200px;
              
            }

            input, select{
                
                font-size: 15px;
                margin-bottom: 10px;
                font-weight: bold;
                margin-left: 200px;
            }
            

            .newsImput{
                font-size: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                margin-left: 0px;
            }

           
            .error {
                color: red;
                font-size: 14px;
                margin-top: 5px;
            }
            
           
    
            .submitButton {
               margin-top: 20px;
               margin-left: 500px;
                width: 50px;
                padding: 5px;
                font-size: 14px;
                color: #fdfdfd;
                background-color: rgb(6, 19, 117);
                cursor: pointer;
                border-radius: 5px 5px 5px 5px;
            }
    
            .status{
                padding: 5px;
                border-radius: 5px;
        
                &.Pending{
                    color:goldenrod;
                    background-color: rgb(0, 128, 0, 0.151);
                }
        
        
                
                &.Accepted{
                    color: green;
                    background-color: rgb(0, 128, 0, 0.151);
                }
        
                
                &.Reject{
                    color: red;
                    background-color: rgb(0, 128, 0, 0.151);
                }


                &.Duplicate{
                    color: gray;
                    background-color: rgb(0, 128, 0, 0.151);
                }
            }



        }
       
       
       
        .alert {
            flex:2;
            text-align: center;
            padding: 10px;
            margin: 10px;

            .close{ 
                background-color: transparent;
                border-color: white;
            }

            &.alert-danger{
                color: red;
                background: rgba(233, 128, 128, 0.308);
            }

            &.alert-success{
                color: rgb(1, 150, 68);
                background: rgba(7, 168, 101, 0.233);
            }

        }
        


    }
}
                &.Pending{
                    color:goldenrod;
                    background-color: rgb(0, 128, 0, 0.151);
                }
        
        
                
                &.Accepted{
                    color: green;
                    background-color: rgb(0, 128, 0, 0.151);
                }
        
                
                &.Reject{
                    color: red;
                    background-color: rgb(0, 128, 0, 0.151);
                }


                &.Duplicate{
                    color: gray;
                    background-color: rgb(0, 128, 0, 0.151);
                }
            }



        }
       
       
       
        .alert {
            flex:2;
            text-align: center;
            padding: 10px;
            margin: 10px;

            .close{ 
                background-color: transparent;
                border-color: white;
            }

            &.alert-danger{
                color: red;
                background: rgba(233, 128, 128, 0.308);
            }

            &.alert-success{
                color: rgb(1, 150, 68);
                background: rgba(7, 168, 101, 0.233);
            }

        }
        


    }
}