.password{
    display: flex;
    width: 100%;
    background-color: rgba(6, 19, 117, 0.13);

    .passContainer{
        flex: 6;
        width: auto;

       


        .topPassword {
            box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            padding: 20px;
            margin: 10px 20px;
            background-color:white;

        .topPass{
            margin-bottom: 40px;
        }
            

           
            .passTitle {
                width: 100%;
                font-size: 24px;
                color: gray;
                margin-bottom: 30px;
                
                
            }


           
            label{
                display: flex;
                margin-left: 200px;
                font-size: 15px;
                font-weight: bold;
                color: rgb(6, 19, 117);
                        
              
            }

            input{
                margin-left: 200px;
                font-size: 15px;
                margin-bottom: 10px;
                font-weight: bold;
                
            }

            .description{
                font-size: 10px;
                color: gray;
                margin-top: -10px;
                margin-bottom: 10px;    
            }
           
           
            
            .alert {
                flex:2;
                text-align: center;
                padding: 10px;
                margin: 10px;
    
                .close{ 
                    background-color: transparent;
                    border-color: white;
                }
    
                &.alert-danger{
                    color: red;
                    background: rgba(233, 128, 128, 0.308);
                }
    
                &.alert-success{
                    color: rgb(1, 150, 68);
                    background: rgba(7, 168, 101, 0.233);
                }
    
            }
    
        }

        .resetButton {
            margin-top: 30px;
            margin-left: 200px;
            margin-bottom: 40px;
             width: 180px;
             text-align: center;
             padding: 5px;
             font-size: 14px;
             color: #fdfdfd;
             background-color: rgb(6, 19, 117);
             cursor: pointer;
             border-radius: 5px 5px 5px 5px;
         }
        }


    

}