.home{
    display: flex;
    width: 100%;
    background-color: rgba(6, 19, 117, 0.13);
    .homeContainer{
        flex: 10;
       

        .widgets, .charts{
            display: flex;
            padding:50px ;
            gap: 20px;
        }

        .charts{
            padding: 5px 20px;

        }

        .listContainer{
            box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            padding: 40px;
            margin: 20px;

            .listTitle{
                font-weight: 500;
                color:rgb(6, 19, 117);
                margin-bottom: 15px;
                font-weight: bold;
            }
        }
    }
}