.forgetPassword {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.349);

    .container {
        display: block;

        .alert {
            justify-content: center;
            text-align: center;
            max-width: 500px;
            height: 40px;
            border-radius: 10px;
            padding-left: 10px;

            .close {
                background-color: transparent;
                border-color: white;
                margin-top: 10px;
            }

            &.alert-danger {
                color: red;
                background: rgba(233, 128, 128, 0.308);
            }

            &.alert-success {
                color: rgb(1, 150, 68);
                background: rgba(7, 168, 101, 0.233);
            }

        }


        .forget-container {

            background-color: white;
            max-width: 500px;
            height: 270px;
            border-radius: 10px;
            padding-left: 10px;



            .fTitle {
                font-size: 30px;
                font-weight: bold;
                margin-top: 20px;
                margin-left: 30px;
                padding: 10px;
                color: rgb(6, 19, 117);
                ;


            }

            hr {
                border-color: rgba(128, 128, 128, 0.349);
                margin-left: -10px;

            }

            .description {
                margin-top: 20px;
                margin-left: 30px;

            }

            input {
                font-size: 18px;
                margin-top: 20px;
                margin-left: 30px;
                margin-bottom: 30px;
                height: 30px;
                width: 440px;
                background-color: rgba(128, 128, 128, 0.377);
                border-color: rgba(128, 128, 128, 0.425);
                border-width: 1px;
                outline: none;

            }

            .display {
                display: flex;
                gap: 10px;
                margin-left: 340px;
                margin-top: 20px;
                font-size: 15px;
                cursor: pointer;

                .countinue {
                    border-radius: 10px;
                    padding: 5px;
                    background-color: rgb(6, 19, 117);
                    color: white;
                }


                a {

                    text-decoration: none;
                    background-color: rgba(128, 128, 128, 0.377);
                    color: rgb(82, 80, 80);
                    padding: 5px;
                    font-weight: bold;
                    width: 60px;
                    border-radius: 10px;
                    text-align: center;


                }

            }


        }
    }

}